# First Notebbook

In [60]:
print('Hello World')

Hello World

# Variables in Python

In [61]:
x = 22
print(x)

22

In [62]:
type(x)
int

int

In [63]:
 y= 'Mint Chocolate Chip'
print(y)

Mint Chocolate Chip

In [64]:
type(y)

str

In [65]:
y = ('chocolate')
Y= 'Mint Chocolate Chip'
print(Y)

Mint Chocolate Chip

In [66]:
x,y,z = 'chocolate','Vanilla ', 'Rock Road'
print(x)
print(y)
print(z)

chocolate
Vanilla
Rock Road

In [67]:
x = y = z = 'Root beer float'
print(x)
print(y)
print(z)

Root beer float
Root beer float
Root beer float

## List

In [68]:
ice_cream = ['chocolate','Vanilla ', 'Rock Road']
x,y,z = ice_cream
print(x)
print(y)
print(z)

chocolate
Vanilla
Rock Road

In [69]:
# Camel case 
#Test Variable Case
testVariableCase = 'Vanilla Swirl'

In [70]:
# Pascal case 
#Test Variable Case
TestVariableCase = 'Vanilla Swirl'

In [71]:
# Snake case **** Best to use 
#Test Variable Case
test_variable_case = 'Vanilla Swirl'

In [72]:
testvar = 'Vanilla Swirl'
test_var = 'Vanilla Swirl'
_testvar = 'Vanilla Swirl'
Testvar = 'Vanilla Swirl'
testVar2 = 'Vanilla Swirl'

## DOnt Do

In [ ]:
2testvar = 'Vanilla Swirl'
test_var = 'Vanilla Swirl'
_test var = 'Vanilla Swirl'
_test, var2 = 'Vanilla Swirl'

In [ ]:
x = 'Ice Cream is my favorite'+ 2
print(x)

## You can do this

In [ ]:


y = 3+ 2
print(y)

5

In [ ]:
x = 'Ice Cream'
y = ' is'
z =' my favorite'
print(x+y+z)

Ice Cream is my favorite

In [ ]:
x=1 
y=2
z=3
print(x+y+z)

6

In [79]:
x = 'Ice Cream'
y = 2
print(x,y)

Ice Cream 2

In [ ]:
x = 'Ice cream'
y =2

print(x+y)

## Data types

In [80]:
type(12+ 100)

int

In [81]:
type(12+ 10.25)

float

In [83]:
# used as imaginary number only works with the letter J 
type(12+ 3j)

complex

In [85]:
# Boolean
type(True)
type(False)

bool

In [94]:
type(1 > 5)

bool

In [92]:
1 > 5

True

In [93]:
1==1

True

# Strings

In [96]:
'Single quote'

'Single quote'

In [97]:
"Double Quote"

'Double Quote'

In [102]:
multiline = '''The ice cream vaquish
I dont know why I wrote that because I dont succumb to simple trivial
l things like this whenit invoves discipline
Im here for the Gold not the attertion
'''

In [103]:
print(multiline)

The ice cream vaquish
I dont know why I wrote that because I dont succumb to simple trivial
l things like this whenit invoves discipline
Im here for the Gold not the attertion

### When you have an apostrophe in the string it requires different ',  " or '''

In [104]:
 "I've always wanted to eat a gallon of ice cream"
# use ""when you have only one apostrophe in the text

"I've always wanted to eat a gallon of ice cream"

In [ ]:
''' 
I've always wanted to eat a gallon of "ice cream


 '''
# use ''' when you have more than two apostrohes in the text

In [105]:
type(multiline)

str

In [113]:
a = 'Hello World'

### Index can search within a string

In [118]:
print(a[2:5])

llo

In [119]:
a * 3

'Hello WorldHello WorldHello World'

In [121]:
a + a

'Hello WorldHello World'

### List

In [122]:
# list
[ 1,2,3]

[1, 2, 3]

## String values

In [125]:
['Cookie Dough', 'Strawberry', 'Chocolate']

['Cookie Dough', 'Strawberry', 'Chocolate']

## List within a list

In [126]:
['Vanilla',3 , ('Scoops','Spoon'), True]

['Vanilla', 3, ('Scoops', 'Spoon'), True]

## Changeable List

In [127]:
ice_cream = ['Cookie Dough', 'Strawberry', 'Chocolate']
ice_cream.append('Salted Caramel')
ice_cream

['Cookie Dough', 'Strawberry', 'Chocolate', 'Salted Caramel']

### Change Things from list

In [128]:
ice_cream [0] = 'Butter Pecan'
ice_cream

['Butter Pecan', 'Strawberry', 'Chocolate', 'Salted Caramel']

## Nested List

In [130]:
nested_list = ['Vanilla',3 , ('Scoops','Spoon'), True]

In [131]:
nested_list[2]

('Scoops', 'Spoon')

## Look at index of nested list

In [132]:
nested_list[2][1]

'Spoon'

## Tuples  store data for us that is never going to change a city name counmtry location

In [134]:
#Tuple
tuple_scoops = (1,2,3,2,1)

In [135]:
type(tuple_scoops)

tuple

In [136]:
tuple_scoops[0]

1

In [ ]:
tuple_scoops.append(3)
# we cannot chnage or add anything to a tuple

## SETs Similar to list and tuple they dont have any duplicate elements the values in a set cannot  tbe acces 
## in index it doesnt have index becauise its not nordered

In [138]:
daily_pints = {1,2,3}

In [139]:
type(daily_pints)

set

In [140]:
print(daily_pints)

{1, 2, 3}

In [145]:
daily_pints_log = {1,2,31,2,3,4,1,2,5,6,3,2}
print(daily_pints_log)
# prints only uniques values in the set

{1, 2, 3, 4, 5, 6, 31}

In [146]:
wifes_daily_pints_log = {1,3,4,5,24,5,7,3,2,0}

In [148]:
print(daily_pints_log  | wifes_daily_pints_log) 
# compare two sets combines  should see all unique valuies between two sets

{0, 1, 2, 3, 4, 5, 6, 7, 24, 31}

In [149]:
print(daily_pints_log  & wifes_daily_pints_log) 
# & = what matches in both sets

{1, 2, 3, 4, 5}

In [150]:
print(daily_pints_log  - wifes_daily_pints_log) 
# - = shows what doesnt match

{6, 31}

In [151]:
print(wifes_daily_pints_log  - daily_pints_log  ) 
# DIFFERENT ORDER SHOWS OTHER NUMBERS

{0, 24, 7}

In [153]:
print(wifes_daily_pints_log  ^ daily_pints_log  ) 
# ^ = SHOWS IF ONE NUMBEWR IS INSIDE ONE OR THE OTHER BUT NOT IN BOTH U NIQUE TO BOTH OF THE SETS

{0, 6, 7, 24, 31}

## dICTIONARIES  = DICT

In [154]:
# DICTIONARIES
# kEY/ vALUE pAIR 

DICT_CREAM = {'NAME':'aLEX fREBERG','WEEKLY INTAKE': 5, 'FAVORITE ICE CREAMS':['MCC','CHOCOLOATE CHIP']}

In [156]:
type(DICT_CREAM)

dict

In [158]:
print(DICT_CREAM)

{'NAME': 'aLEX fREBERG', 'WEEKLY INTAKE': 5, 'FAVORITE ICE CREAMS': ['MCC', 'CHOCOLOATE CHIP']}

In [159]:
DICT_CREAM.values()

dict_values(['aLEX fREBERG', 5, ['MCC', 'CHOCOLOATE CHIP']])

In [161]:
DICT_CREAM.keys()

dict_keys(['NAME', 'WEEKLY INTAKE', 'FAVORITE ICE CREAMS'])

In [162]:
DICT_CREAM.items()

dict_items([('NAME', 'aLEX fREBERG'), ('WEEKLY INTAKE', 5), ('FAVORITE ICE CREAMS', ['MCC', 'CHOCOLOATE CHIP'])])

In [ ]:
DICT_CREAM[0]
# You cant do this error

In [165]:
DICT_CREAM['NAME']

'aLEX fREBERG'

In [176]:
DICT_CREAM['NAME'] = 'CHRISTINE FGREBERG'
print(DICT_CREAM)
# change name in dictionary

{'NAME': 'CHRISTINE FGREBERG', 'WEEKLY INTAKE': 10, 'FAVORITE ICE CREAMS': ['MCC', 'CHOCOLOATE CHIP'], 'weightS': ['300'], 'weight': ['300']}

In [180]:
DICT_CREAM.update({'NAME': 'CHRISTINE FGREBERG', 'WEEKLY INTAKE': 10, 'weight': ['300' ]})
print(DICT_CREAM)
# when you use this you actually cant delete

{'NAME': 'CHRISTINE FGREBERG', 'WEEKLY INTAKE': 10, 'FAVORITE ICE CREAMS': ['MCC', 'CHOCOLOATE CHIP'], 'weightS': ['300'], 'weight': ['300']}

## To delete variable in dictionary

In [181]:
del DICT_CREAM['weight']
print(DICT_CREAM)

{'NAME': 'CHRISTINE FGREBERG', 'WEEKLY INTAKE': 10, 'FAVORITE ICE CREAMS': ['MCC', 'CHOCOLOATE CHIP'], 'weightS': ['300']}