## Comparison Logical, anmd Memebership Operators in Python| Python for Beginners

## Comparison Operators

In [7]:
10 == 10
# youll get a true or false statement

True

In [10]:
10 != 50
#this means

True

In [12]:
'Vanilla'== 'Chocolate'
#will be the same as long as string is the same

True

In [15]:
x = 'Vanilla'
y = 'Chocolate'

x !=y

True

In [20]:
10 <= 10

True

In [21]:
50 >= 10

True

## Logical Operators
### and,returns true if both statements are true

### or returns truue if one of the statements is true 

### Not  reverse the result returns false ifd the result is true

In [25]:
(70 > 50) and ( 50 >10)
#if you change first number to 50 it will be false

True

In [26]:
(10 > 50) or ( 50 >10)

True

In [27]:
('Vanilla' > 'Chocolate') and  ( 50 >10)

True

In [28]:
not( 50 >10)

False

In [29]:
ice_cream = 'I love chocloate ice cream'
'love' in ice_cream

True

In [30]:
ice_cream = 'I love chocloate ice cream'
'love' in 'I love chocloate ice cream'

True

In [32]:
scoops = [1,2,3,4,54]
2 in scoops
# searching to see if two is in this group

True

In [35]:
scoops = [1,2,3,4,54]
2 in  scoops

# also will comne out true

True

In [ ]:
scoops = [1,2,3,4,54]
6 not in scoops

In [37]:
scoops = [1,2,3,4,54]
wanted_scoops = 8 
wanted_scoops in scoops

False

## IF ELIF ELSE STATEMENT

In [39]:
if 25 > 10:
    print('it worked')

it worked

In [42]:
if 25 < 10:
    print('it worked')
    # it doesnt work so its not ture 
else:
    print('it did not work...')

it did not work...

In [43]:
if 25 > 10:
    print('it worked')
    # it doesnt work so its not ture 
else:
    print('it did not work...')

it worked

In [50]:
if 25 < 10:
    print('it worked')
    # it doesnt work so its not true 
elif 25 < 20:
    print('elif worked')
elif 25 < 21:
    print('elif 2 worked')
elif 25 < 40:
    print('elif  3 worked')
elif 25 < 50:
    print('elif 4 worked')
else:
    print('it did not work...')

elif  3 worked

In [51]:
if (25 < 10 )or (1 < 3) :
    print('it worked')
    # it doesnt work so its not true 
elif 25 < 20:
    print('elif worked')
elif 25 < 21:
    print('elif 2 worked')
elif 25 < 40:
    print('elif  3 worked')
elif 25 < 50:
    print('elif 4 worked')
else:
    print('it did not work...')

it worked

In [54]:
#3 use the code all in one line no spaces or stacks 
print('it worked') if 10> 30 else print('it did not work ...')

it did not work ...

## Nested If Statement

In [55]:
if (25 < 10 )or (1 < 3) :
    print('it worked')
    if 10 > 5:
        print('This nested if statement worked')
    # it doesnt work so its not true 
elif 25 < 20:
    print('elif worked')
elif 25 < 21:
    print('elif 2 worked')
elif 25 < 40:
    print('elif  3 worked')
elif 25 < 50:
    print('elif 4 worked')
else:
    print('it did not work...')

it worked
This nested if statement worked

## For Loops 
integers = [1,2,3,4,5]

In [60]:
integers = [1,2,3,4,5]
# setting the standard on how many timme the integer prints out

In [ ]:
for number in integers: 
    print(number)

In [59]:
for number in integers: 
    print('yep!')

yep!
yep!
yep!
yep!
yep!

In [ ]:
integers = [1,2,3,4,5]

In [61]:
for jelly in integers: 
    print(jelly + jelly)
    # for loop works

2
4
6
8
10

In [63]:
ice_cream_dict = {'name': 'Alex Freberg', 'weekly intake': 5, 'favorite ice creams': ['Mcc', 'Chocolate']}
# dictionary with a list inside of it

In [64]:
# for loop 
for cream in ice_cream_dict.values(): 
    print(cream)

Alex Freberg
5
['Mcc', 'Chocolate']

In [66]:
for key, value in ice_cream_dict.items(): 
    print(key,'->' , value)

name -> Alex Freberg
weekly intake -> 5
favorite ice creams -> ['Mcc', 'Chocolate']

## NESTED FOR LOOPS
FOR LOOP INSIDE A FOR LOOP

In [67]:
flavors = ['Vanilla', 'Chocolate','Cookie Dough']
toppings = ['Hot fudge ', 'Oreos', 'Marshmallows']

In [71]:
for one in flavors:
    for two in toppings:
        print(one, 'topped with', two)
        ## loops throught them, in order on top of them

Vanilla topped with Hot fudge
Vanilla topped with Oreos
Vanilla topped with Marshmallows
Chocolate topped with Hot fudge
Chocolate topped with Oreos
Chocolate topped with Marshmallows
Cookie Dough topped with Hot fudge
Cookie Dough topped with Oreos
Cookie Dough topped with Marshmallows

## WHile Loops iterate over a blcok of code as lons as test condition is true

In [72]:
number = 0
while  number  < 5:
    print(number)
    number = number + 1

0
1
2
3
4

## Break Statement

In [74]:
number = 0
while  number  < 5:
    print(number)
    if number == 3:
        break 
    number = number + 1

0
1
2
3

In [75]:
number = 0

while  number  < 5:
    print(number)
    if number == 6:
        break 
    number = number + 1
else:
    print('no longer < 5')

0
1
2
3
4
no longer < 5

In [76]:
number = 0

while  number  < 5:
    print(number)
    if number == 3:
        break 
    number = number + 1
else:
    print('no longer < 5')

0
1
2
3

## Continue Statement 
if trieggered around  nrejects all remaining statemetns in the loop

In [77]:
number = 0

while  number  < 5:
    print(number)
    if number == 3:
        continue 
    number = number + 1
else:
    print('no longer < 5')
    dont run this its infinite

SyntaxError: invalid syntax (1252789484.py, line 10)

In [80]:
number = 0

while  number  < 5:
    number = number + 1
    if number == 3:
        continue 
    print(number)
else:
    print('no longer < 5')

1
2
4
5
no longer < 5

## Functions In Python 
a block of code that is only run when you call it

In [85]:
def first_func():
    print('Wed did it! ')

    #define it then call it

In [83]:
first_func()

Wed did it

Arguments

In [92]:
def number_squared(number):
    print(number**2) 
    # ** is hard coded

In [93]:
number_squared(5)

25

In [94]:
def number_squared_cust(number, power):
    print(number** power)
    #if you have two arguments within your function you have to call it  have to specify both arguments

In [96]:
number_squared_cust(5, 3)

125

## Arbitray arguments

In [99]:
## can loook like this def number_args(*args): 

def number_args(*number):
    print(number[0]*number[1])

In [101]:
number_args(5,6,1,2,8) 
# calling  first number and second number in a tuple

30

## Second Example

In [107]:
args_tuple = (5,6,1,2,8) 
def number_args(*number):
    print(number[0]*number[1])

In [108]:
number_args(*args_tuple) 
# have to specify with *

30

## Key word arguments and Arbitruary

In [111]:
def number_squared_cust(number, power):
    print(number** power)
    # key word argument

In [112]:
number_squared_cust(power = 5, number = 3)
  # key word argument

243

## Arbitrary Key word arguments

In [120]:
def number_kwarg(**number):
    print('my number is:'+ number['integer'] + 'my other number:' + number['integer2'] )
    # use we doint really know how many key words we have

In [121]:
 number_kwarg(integer = '2309',integer2 = '349')

my number is:2309my other number:349

## Converting Data types

In [122]:
num_int = 7
type(num_int)

int

In [124]:
num_str = 7
type(num_str)

int

## convert string into an integer

In [127]:
num_str_conv = int(num_str)
type(num_str_conv)

int

In [128]:
num_sum = num_int + num_str
print(num_sum)

14

In [129]:
type(num_sum)

int

## Convert list sets Tuples

In [131]:
list_type = [1,2,3]
type(list_type)

list

In [132]:
type(tuple(list_type))

tuple

In [139]:
# convert list to set but may change the values
list_type = [1,2,3,4,3,2,2,1]

In [142]:
type(set(list_type))

set

## DICTIONARY

In [144]:
dict_type  = {'name':' Drew', 'age': 28 ,'hair': "N/a"}
type(dict_type)

dict

In [147]:
dict_type.items()

dict_items([('name', ' Drew'), ('age', 28), ('hair', 'N/a')])

In [149]:
dict_type.values()

dict_values([' Drew', 28, 'N/a'])

In [150]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [151]:
list(dict_type.keys())

['name', 'age', 'hair']

In [154]:
type(list(dict_type.keys()))

list

In [155]:
type(list(dict_type.values()))

list

In [158]:
# long stringds  will take every character and put it to a list 
long_str = "I like to party"
list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'r', 't', 'y']

In [160]:
# set only looks at unique values 

long_str = "I like to party"
set(long_str)

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}