# SECTION 07
### Drew P HW Week 7

Question 1

In [ ]:
SELECT ModelYear, Make, Model
FROM EVRegistry

Question 2

In [ ]:
SELECT DISTINCT ElectricVehicleType
FROM EVRegistry

Question 3

In [ ]:
SELECT *
FROM EVRegistry
WHERE ElectricVehicleType = 'Battery Electric Vehicle (BEV)'

Question 4

In [ ]:
SELECT Make, Model
FROM EVRegistry
WHERE BaseMSRP BETWEEN 20000 AND 35000

# 7.2 HW Questions

Question 1

In [ ]:
SELECT *
FROM EVRegistry
WHERE City is NULL

Question 2

In [ ]:
SELECT Make, Model, ElectricVehicleType
FROM EVRegistry
WHERE VIN like "%3E1EA1J"

Question 3

In [ ]:
SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange
FROM EVRegistry
WHERE (Make= "TESLA") or (Make= "CHEVROLET")
ORDER by Make ASC, ModelYear ASC

Question 4

In [ ]:
SELECT StationID, Count(*) as numUses
FROM EVCharging
GROUP BY StationID 
ORDER BY COUNT(*) DESC
LIMIT 5

Question 5

In [ ]:
SELECT userId, min(chargeTimeHrs) as "minTime", max(chargeTimeHrs) as "maxTime"
FROM EVCharging
WHERE chargeTimeHrs > 0.5
GROUP by userId
ORDER by 2,3

# Section 7.3

Question 1

In [ ]:
SELECT weekday, round(avg(chargeTimeHrs),2) as 'avgChargeTime'
FROM EVCharging
GROUP by weekday
order by avgChargeTime DESC

Question 2

In [ ]:
SELECT userId, round(sum(kwhTotal),2) as 'totalPower'
FROM EVCharging
group by userId
ORDER by totalPower DESC
LIMIT 15

Question 3

In [ ]:
SELECT dimFacility.typeFacility as typeFacility, count(factCharge.stationId) as numStation
FROM dimFacility, factCharge
WHERE dimFacility.FacilityKey = factCharge.facilityID
GROUP by typeFacility
ORDER by numStation DESC

Question 4

Foreign keys can link data with other tables . A foreign key in a table is primary key from another data base . A primary key in  a table shows unique data in a row.

Question 5

In [ ]:
SELECT userId, min(chargeTimeHrs) as minTime, max(chargeTimeHrs) as maxTime
FROM EVCharging
GROUP by userId
HAVING minTime > 1.0
ORDER by 2 ASC, 3 ASC