# Week 8 Homework

In [ ]:
-- section 2
SELECT TopSpeed, Range, efficiency, FastCharge
FROM evCars
LIMIT 10

In [ ]:
--2.1
SELECT Brand FROM EvCars;
--2.2
FUNCTION(string, characterStringToBeRemoved)

In [ ]:
--2.3
SELECT column, stringfunctiongoeshere
FROM EvCars

In [ ]:
--2.4
UPDATE EvCars 
SET 
    Range = stringfunction;

In [ ]:
--2.5
SELECT TopSpeed FROM EvCars;

In [ ]:
--2.6
SELECT TopSpeed, function(TopSpeed * conversionRate, numberofdecimals)
FROM EvCars 
--
UPDATE EvCars 
SET 
    PowerTrain = pwr * conversionRate

In [ ]:
--2.7
ALTER TABLE EvCars 
RENAME columnname TO newColumnName

In [ ]:
--2.8
SELECT * 
FROM EvCars

# Section 3

In [ ]:
##--3.1
SELECT TopSpeed
FROM evCars
LIMIT 10

In [ ]:
##--3.2
UPDATE EvCars
SET Range = REPLACE(Range, 'km', '')

In [ ]:
##--3.3
SELECT Range AS Original_Range,
       REPLACE(Range, 'km', '') AS Modified_Range
FROM EvCars
##103

In [ ]:
##--3.4
UPDATE EvCars
SET Range = REPLACE(Range, 'km', '')

In [ ]:
##--3.5
SELECT Range
FROM EvCars

In [ ]:
##--3.6
SELECT Range AS Range_in_km,
       Range * 0.621371 AS Range_in_miles
FROM EvCars

UPDATE EvCars
SET Range = Range * 0.621371

In [ ]:
##--3.7
ALTER TABLE EvCars
RENAME COLUMN Range TO rangeMiles

In [ ]:
##--3.8
SELECT *
FROM EvCars

# Section 4

In [ ]:
##--Section 4
SELECT Efficiency, FastCharge
FROM EvCars

In [ ]:
##--4.1

SELECT Efficiency, FastCharge
FROM EvCars

In [ ]:
##--4.2
UPDATE EvCars
SET Efficiency = REPLACE(Efficiency, ' Wh/km', '')

UPDATE EvCars
SET FastCharge = REPLACE(FastCharge, ' km/h', '')

In [ ]:
##--4.3
SELECT Efficiency AS Original_Efficiency,
       REPLACE(Efficiency, ' Wh/km', '') AS Modified_Efficiency,
       FastCharge AS Original_FastCharge,
       REPLACE(FastCharge, ' km/h', '') AS Modified_FastCharge
FROM EvCars
--103

In [ ]:
##
--- 4.4
UPDATE EvCars
SET Efficiency = REPLACE(Efficiency, ' Wh/km', '')

In [ ]:
##--4.5
SELECT *
FROM EvCars

In [ ]:
##--4.6
SELECT OneHourFastChargeMiles,
       ROUND(rangeMiles * 0.621371, 1) AS OneHourFastChargeMiles
FROM EvCars
---
UPDATE EvCars
SET Distance = ROUND(Distance * 0.621371, 1)

In [ ]:
##-4.7
ALTER TABLE EvCars
RENAME COLUMN FastCharge TO OneHourFastChargeMiles
--
ALTER TABLE EvCars
RENAME COLUMN Efficiency TO efficiencyWHperKM

In [ ]:
##--4.8
SELECT *
FROM EvCars

# Section 5

In [ ]:
##-- 5.1

SELECT RapidCharge, COUNT(*) AS Records_Count
FROM EvCars
GROUP BY RapidCharge

In [ ]:
##--5.2

UPDATE EvCars
SET RapidCharge = CASE 
    WHEN RapidCharge = 'Yes' THEN 'Yes'
    WHEN RapidCharge = 'True' THEN 'Yes'
    WHEN RapidCharge = 'Y' THEN 'Yes'
    ELSE 'No'
    END

In [ ]:
##	--5.3
UPDATE EvCars
SET RapidCharge = CASE 
    WHEN RapidCharge = 'Yes' THEN 'Yes'
    WHEN RapidCharge = 'True' THEN 'Yes'
    WHEN RapidCharge = 'Y' THEN 'Yes'
    ELSE 'No'

# Section  6

In [ ]:
##-6.1
SELECT PowerTrain, COUNT(*) AS Records_Count
FROM EvCars
GROUP BY PowerTrain

In [ ]:
##6.2
UPDATE EvCars
SET PowerTrain = 'AWD'
WHERE PowerTrain = 'All wheel drive'
--

UPDATE EvCars
SET PowerTrain = 'RWD'
WHERE PowerTrain = 'Front wheel Drive'
--

UPDATE EvCars
SET PowerTrain = 'FWD'
WHERE PowerTrain = 'Rear wheel Drive'

In [ ]:
##--6.3
UPDATE EvCars
SET PowerTrain = 'AWD'
WHERE PowerTrain = 'All wheel drive'
--

UPDATE EvCars
SET PowerTrain = 'RWD'
WHERE PowerTrain = 'Front wheel Drive'
--

UPDATE EvCars
SET PowerTrain = 'FWD'
WHERE PowerTrain = 'Rear wheel Drive'

# Section 7

In [ ]:
##--7.1
SELECT PriceEuro,
       ROUND(PriceEuro * 1.09, 2) AS CalculatedColumn
FROM EvCars

In [ ]:
##--7.2
UPDATE EvCars
SET PriceEuro = ROUND(PriceEuro * 1.09, 2)
--
SELECT PriceEuro
FROM EvCars

In [ ]:
##--7.3
ALTER TABLE EvCars
RENAME COLUMN PriceEuro TO PriceUSD